.coin-info-heading,.coin-info-desc{
    cursor: pointer;
}

.coin-info-heading{
    color : var(--black)
}
.coin-info-desc a {
    color: var(--black);
    text-decoration: underline;
}
.coin-info-desc a:hover{
    color: var(--blue)!important;
}